body{
	background: linear-gradient(#3B429F,#F5D7E3,#AA7DCE);
}

ul{
	font-family: Code light;
	font-size: 25px;
	background:linear-gradient(#F5D7E3,#AA7DCE);
	width: 600px;
	height: 100;
	margin: 100px auto 4px;
	text-align: center;
	border: 1px solid white;
}

a: hover{
	background-color: black;
	color: white;
}

li{
	border: 1px solid white;
	font-size: 1.6em;
	display: inline-block;
	margin: 28px;
	padding: 5px;

}

li;hover {
	background-color: white;
	width: 600px;
	height: 400px;
	margin: auto;
	border: 1px;
}

#peche1{

	width: 20em;
	margin-bottom: -1em;
}

#peche2{
	width: 20em;
	margin-left: 9em;
	margin-bottom: -1em;
}

#peche3{
	width: 20em;
	margin-left: 58em;
	margin-top: -25em;
}

div{
	background-color: white;
	width: 78em;
	padding: 20px;
	margin-left: 8em;
}

h1{
	font-family: Code light;
	font-size: 50px;
	border: 1px solid white;
	color: white;
	border-right: 50em;
	border-left: 50em;
	padding: 10px;
}

p{
	font-family: 'Poiret One', cursive;
	font-size: 50px;
	text-align: center;
	border: 1px solid black;
}

#men1{

	width: 30em;
	margin-top: 6em;
	border: 1px solid black;
	margin-bottom: -1em;
}

#men2{
	
	width:30em;
	margin-left: 48em; 
	margin-top: -48em;
}

#men3{
	width: 30em;
	margin-top: 3em;
	margin-bottom: -1em;
}

#men4{
	width: 30em;
	margin-top: -48em;
	margin-left: 48em;
}

#woman1{

	width: 20em;
	margin-bottom: -1em;
}

#woman2{

	width: 20em;
	margin-left: 9em;
	margin-bottom: -1em;
	margin-top: 6em;
}

#woman3{
	width: 20em;
	margin-left: 58em;
	margin-top: -28em;
}

#port1{
	width: 30em;
	margin-top: 6em;
	margin-bottom: -1em;

}

#port2{
	width:30em;
	margin-left: 48em; 
	margin-top: -48em;
}

#cro1{

	width: 30em;
	margin-top: 6em;
	border: 1px solid black;
	margin-bottom: -1em;
}

#cro2{
	width: 30em;
	margin-left: 48em; 
	margin-top: -48em;
	border: 1px solid black;
}

#cro3{
	width: 30em;
	margin-top: 3em;
	margin-bottom: -1em;
	border: 1px solid black;
}

#cro4{
	width: 30em;
	margin-top: -48em;
	margin-left: 48em;
	border: 1px solid black;
}