body{
	background:linear-gradient(#B0D0D3,#F3EEC3,#F7AF9D);
}


ul{
	font-family: Code light;
	font-size: 25px;
	background:linear-gradient(#B0D0D3,#F7AF9D);
	width: 600px;
	height: 100;
	margin: 100px auto 4px;
	text-align: center;
	border: 1px solid white;
}

a: hover{
	background-color: black;
	color: white;
}

li{
	border: 1px solid white;
	font-size: 1.6em;
	display: inline-block;
	margin: 28px;
	padding: 5px;

}

li;hover {
	background-color: white;
	width: 600px;
	height: 400px;
	margin: auto;
	border: 1px;
}

div{

	text-align: center;
	background-color: grey;
	padding: 15px;
	width: 85em;
	margin-left: 4em;
}

img{

	margin-top: 2em;
	text-align: center;

}